body{
    background-image: url(project1.jpg);
    background-repeat: no-repeat ;
    height: 100vh;
    background-size: 100% 1000px;
    background-image: 100%;

}
h1{
    text-align: center;
    background-color: black;
    margin-top: 0;
    padding: 20px;
    color: white;
    font-weight: bold;
}
.register{
    color: white;
}
.reg{
    background-color: navy;
    border-radius: 10px;
    border: 2px solid white;
    padding: 15px;
}